<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/css/normalize.css" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>

    <link href="/css/custom.css" rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">

    <title>
        <%=title%>
    </title>

</head>

<body>
