<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Habit Tracker</a>


    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">

      <% if (leftNavbar === 'Login') { %>
        <li><a href="/login">Login</a></li>
      <%} else { %>
        <li><a href="/users/<%=leftNavbar%>">My profile</a></li>
        <li><a href="/manage">Manage</a></li>
        <li><a href="/logout">Logout</a></li>
      <% }%>

    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if (leftNavbar === 'Login') { %>
        <li><a href="/login">Login</a></li>
      <%} else { %>
        <li><a href="/users/<%=leftNavbar%>">My profile</a></li>
        <li><a href="/manage">Manage</a></li>
        <li><a href="/logout">Logout</a></li>
      <% }%>
    </ul>
  </div>
</nav>
