<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">tinyhabits</a>


    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons hide-on-med-and-up">menu</i></a>

    <ul class="right hide-on-small-and-down">
      <% if(leftNavbar === -1) { %>
        <li><a href="/login">Login</a></li>
      <%} else { %>
        <li><a href="/users/<%=leftNavbar%>">My tracker</a></li>
        <li><a href="/users/manage/<%=leftNavbar%>">Manage</a></li>
        <li><a href="/logout">Logout</a></li>
      <% }%>
    </ul>

    <ul class="side-nav" id="mobile-demo">
      <% if (leftNavbar === -1) { %>
        <li><a href="/login">Login</a></li>
      <%} else { %>
        <li><a href="/users/<%=leftNavbar%>">My tracker</a></li>
        <li><a href="/users/manage/<%=leftNavbar%>">Manage</a></li>
        <li><a href="/logout">Logout</a></li>
      <% }%>
    </ul>
  </div>
</nav>
