* {
  font-size: large;
  font-family: 'Istok Web', sans-serif;
}

body {
  background-color: #558b2f;
}

strong {
  background-color: yellow;
}

a {
  color: #64dd17;
  /*text-decoration: underline;*/
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
  /*background-color: #fffde7*/
}

input {
  width: 100%;
  /*margin: 10px;*/
}

label {
  font-size: medium;
}

button[type=submit]{
  background-color: #64dd17;
  margin-bottom: 10px;
}

.blurbDiv{

  width: 90%;
  margin: 10px;
  height: 450px;
  margin-bottom: 10px;
  background-color: #fffde7;
  box-sizing: border-box;

}

.regDiv {
  width: 90%;
  margin: 10px;
  height: 450px;
  margin-bottom: 10px;
  background-color: #fffde7;
  box-sizing: border-box;

}

.indexList {
  font-size: x-large;
}

.table-title {
  display: inline;
  vertical-align: middle;
}

.indexDiv {
  margin-top: 0px;
  height: 500px;
  margin-bottom: 10px;
  background-color: #fffde7;
}

.nav-wrapper {
  background-color: #64dd17;
}

.badge {
  margin-right: 10px;
}

.completeBtn, .redeemBtn {
  background-color: #558b2f;
}

.resetTaskBtn, .learnBtn {
  background-color: #64dd17;
}

.deleteUserBtn, .deleteTaskBtn, .deleteRewardBtn {
  background-color: #e91e63;
}

.indexRow {
  display: flex;
  /*background: #fffde7;*/
  margin-top: 0px;
}

.logo{
  vertical-align: bottom;
  width: 500px;

}

.tasksDiv {
  background-color: #fffde7;
}

.rewardsDiv {
 background-color: #ccff90;
}

.updateTaskBtn, .updateRewardBtn {
  background-color: #558b2f;
}

.genDiv{

  background-color: #fffde7;

  /*padding: 10px;*/

}

.nav-wrapper {
  margin-top: 0px;
}
/*#rewardsTable {
  display: none;
}

#showTasks {
  display: none;
}*/
.addBtn {
  background-color: #e91e63;
}

.help {
  text-indent: 50px;
}

#quotePlaceholder {

  font-style: italic;
  color: #fff8e1;
}

#dismissQuote{
  font-style: italic;
  font-size: small;
  text-decoration: underline;
  display: none;
}

#logoContainer {
  margin-top: 20px;
  margin-bottom: 0px;
}
