.table-title {
  display: inline;
  vertical-align: middle;
}

input {
  width: 100%;
  /*margin: 10px;*/
}

/*#rewardsTable {
  display: none;
}

#showTasks {
  display: none;
}*/

blockquote {
  font-style: italic;
  font-size: large;
}

#dismissQuote{
  font-style: italic;
  font-size: small;
  text-decoration: underline;
  display: none;
}
