* {
  font-size: large;
  font-family: 'Istok Web', sans-serif;
}

body {
  background-color: #558b2f;
}

a {
  color: #e91e63;
  /*text-decoration: underline;*/
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
  /*background-color: #fffde7*/
}

input {
  width: 100%;
  /*margin: 10px;*/
}

label {
  font-size: medium;
}

button[type=submit]{
  background-color: #64dd17;
}

.table-title {
  display: inline;
  vertical-align: middle;
}

.indexDiv {
  height: 500px;
  margin-bottom: 10px;
  background-color: #fffde7;
}

.nav-wrapper {
  background-color: #64dd17;
}

.completeBtn, .redeemBtn {
  background-color: #558b2f;
}

.resetTaskBtn {
  background-color: #64dd17;
}

.deleteUserBtn, .deleteTaskBtn, .deleteRewardBtn {
  background-color: #e91e63;
}

.indexRow {
  display: flex;
  background: #fffde7;
}

.tasksDiv {
  background-color: #fffde7;
}

.rewardsDiv {
 background-color: #ccff90;
}

.updateTaskBtn, .updateRewardBtn {
  background-color: #558b2f;
}

.nav-wrapper {
  margin-top: 0px;
}
/*#rewardsTable {
  display: none;
}

#showTasks {
  display: none;
}*/
.addBtn {
  background-color: #e91e63;
}

#quotePlaceholder {
  font-style: italic;
}

#dismissQuote{
  font-style: italic;
  font-size: small;
  text-decoration: underline;
  display: none;
}
