<% include ../partials/header %>


  <% include ../partials/navbar %>

    <div class="container">

      <div class="row">
        <div class="container">
          <div class="col s12  yellow lighten-5">
            <form id="addRewardForm" name="addRewardForm">

              <label for='description'>Reward description:</label>
              <input type='text' id='description' name='description' required>


                <label for='rewardVal' class='left'>Value: (How many tasks must you complete in order to earn this reward?)</label>
                <input type='number' min='1' id='rewardVal' name='rewardVal' required value='15'>


              <div class="center">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add reward
              </button>
              </div>


            </form>

          </div>
        </div>

      </div>

    </div>


    <% include ../partials/footer %>
