<% include ../partials/header %>

  <% include ../partials/navbar %>

    <div class="container">

      <div class="row">
        <div class="container">
        <div class="col s12  yellow lighten-5">
          <form id="addTaskForm" name="addTaskForm">

            <label for='description'>Task description:</label>
            <input type='text' id='description' name='description' required>
            Priority:
            <br>


            <input name='priority' type='radio' id='lowp' class='with-gap' value='0'>
            <label for='lowp'>Low</label><br>


            <input name='priority' type='radio' id='medp' class='with-gap' value='1' checked>
            <label for="medp">Medium</label><br>


            <input name='priority' type='radio' id='highp' class='with-gap' value='2'>
            <label for='highp'>High</label><br>

            <div class="center">
            <button class="btn waves-effect waves-light" type='submit' id='addTaskSubmit'>Add task
              </button>

            </div>


          </form>

        </div>
      </div>

      </div>

    </div>


<% include ../partials/footer %>
