<% include ../partials/header %>

  <% include ../partials/navbar %>

    <div class="container">
      <div class="row">
        <div class="col s12 yellow lighten-5">



          <h4>How tinyhabits Works</h4>

          <p>After registering and logging in, you'll be taken to your Tracker which shows your Tasks and Rewards.</p>



            <h5>Tasks</h5>
              <p class="help"> The goal of tinyhabits is to implement long-term change by tracking small, incremental tasks which contribute to the bigger goal. For example, if your long-term goal is to “eat healthier,” some example tasks you would add could be “Choose
                water instead of soda or juice,” “Eat more veggies,” “Resist snacks,” and “Don’t eat out.” Big goals are easier to accomplish once they’ve been broken down into tiny, concrete tasks. <strong>Avoid adding vague Tasks that you couldn’t feasibly
                perform on a daily basis.</strong> More sample Tasks: “Don’t hit the snooze button,” “Put my phone away during meetings,” “Floss,” “Don’t let the dishes pile up in the sink." </p>

              <p class="help">The important distinction between tinyhabits and just a plain to-do list is that <strong>tinyhabits are ongoing.</strong> They do not go away when you mark them complete (until they become Habits, which will be addressed later!). You should give yourself
                credit each time perform the task; if you drank three glasses of water today, mark that Task all three times. If you had veggies with just one meal, give yourself credit-- even if you only had a little bit!</p>

              <p class="help">To add a Task, simply press the “+” button next to My Tasks. Give it a description and a priority (low, medium, or high). </p>



            <h5>Rewards</h5>

              <p class="help">Setting and earning rewards for accomplishing tasks is a great way to stay motivated. You can start by giving yourself small rewards for completing small amounts of tasks, and you can give yourself bigger rewards for completing substantially
                more tasks. Example rewards would be “Go to my favorite coffee shop,” “Buy some new nail polish”, “Play video games (2 hours max)”, “$50 shopping spree”, “Spa day!” Try to avoid adding Rewards that conflict with the goals outlined in your
                Tasks. </p>

              <p class="help">To add a Reward, press the “+” button next to My Rewards. Set the description and the value. The value is a number representing how many Tasks you must complete in order to earn the Reward. Each time you mark a Task complete, your progress
                counter for each Reward will be incremented. Once you’ve completed enough Tasks to earn a Reward, you will be able to Redeem the reward. When you mark a Reward as “Redeemed” it will no longer be in your Tracker view.
              </p>



            <h5>Habits</h5>
              <p class="help">A Task becomes a Habit when you have performed it 100 times. By consistently performing the task, it becomes an integral part of your routine that no longer requires external rewards for motivation. When a Task becomes a Habit, it will no
                longer be in your Tracker view. Click on Manage to view your habits.
              </p>

              <p class="help">Sometimes life interrupts our routine and causes us to fall out of habits temporarily. That’s ok! If you need to move a Habit back to the Tasks table, simply press the “Restore” button. The completed count will reset to zero and you will
                be able to track it again as you did before.
              </p>





        </div>

      </div>
    </div>


    <% include ../partials/footer %>
