<% include ../partials/header %>


    <form action="/session" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="password">Password:</label>
        <input type="text" name='password' id='password'>
        <input type="submit">

    </form>

    <a href="register" title="New user registration">Register a new account</a>




    <% include ../partials/footer %>
