<% include ../partials/header %>

  <% include ../partials/navbar %>



<div class="container indexDiv">

      <div class="row indexRow">


        <div class="col s12 m6 indexDiv">

          <h5>Integrate new, long-term habits into your life with tinyhabits.</h5>

          <h5>
            1. Add tasks and track your progress<br>
            2. Set and earn rewards<br>
            3. See your tasks get elevated to "habit" status<br>
          </h5>


        </div>

        <div class="col s12 m6 indexDiv"> <h5 class="center">Ready to turn a new leaf?</h5>
          <form action="/users" method="post">

            <label for="email">Email:</label>
            <input type="email" name="email" id="email">

            <label for="nickname">Choose a nickname:</label>
            <input type="text" name="nickname" id="nickname">

            <label for="password">Password (8 character minimum):</label>
            <input type="text" name='password' id='password'>


            <label for="vpassword">Retype password:</label>
            <input type='text' name='vpassword' id='vpassword'>
            <button class="btn waves-effect waves-light left" type="submit" name="action">Register
            </button>
            <a href="/login" class="right">I already have an account!</a>

          </form>


        </div>
      </div>

</div>



    <% include ../partials/footer %>
