<% include ../partials/header %>

  <% include ../partials/navbar %>




    <div class="container">


      <% include ../partials/logo %>


      <div class="row">


        <div class="col s12 m6 indexDiv">

          <h4 class="center">Integrate new, long-term habits into your life.</h4>

          <p class='indexList'>
            1. Add tasks and track your progress.<br> 2. Set and earn rewards.<br> 3. See your tasks get elevated to "habit" status.<br> 4. Experience an improved quality of life!
          </p>



        </div>

        <div class="col s12 m6 indexDiv">
          <h5 class="center">Ready to turn over a new leaf?</h5>
          <% include ../partials/registrationForm %>

        </div>
      </div>

    </div>



    <% include ../partials/footer %>
