<% include ../partials/header %>

  <% include ../partials/navbar %>

    <div class="container">

      <div class="row">
        <div class="container">
        <div class="col s12">
          <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate ac mauris vel condimentum. Pellentesque posuere enim rutrum nibh suscipit ultricies. Duis sed tellus eros. Praesent id metus consequat, accumsan arcu sit amet, venenatis
            mauris. </h5>
        </div>
      </div>
      </div>


      <% if(leftNavbar === -1) { %>

        <div class="row">
          <div class="container">
          <div class='col s12'>

            <form action="/users" method="post">

              <label for="email">Email:</label>
              <input type="email" name="email" id="email">

              <label for="password">Password (8 character minimum):</label>
              <input type="text" name='password' id='password'>


              <label for="vpassword">Retype password:</label>
              <input type='text' name='vpassword' id='vpassword'>
              <button class="btn waves-effect waves-light right" type="submit" name="action">Register
              </button>

            </form>

          </div>
        </div>
        </div>

      <%} %>

    </div>
    <% include ../partials/footer %>
