<% include ../partials/header %>



  <div class="container">


    <div class="row">
      <div class="container">
        <div class='col s12'>
          <form action="/session" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <label for="password">Password:</label>
            <input type="text" name='password' id='password'>
            <div class="center">
              <button class="btn waves-effect waves-light" type="submit" name="action">Login
  </button> <br><a href="register" title="New user registration">Register a new account</a></div>
          </form>


          </div>
        </div>
      </div>

    </div>

    <% include ../partials/footer %>
