<% include ../partials/header %>

<% include ../partials/logo %>

<% if(typeof message !== 'undefined'){ %>
  <h5 class="center amber-text"><%=message%></h5>
<%} %>

  <div class='container'>
    <div class="row">
      <div class="container">
        <div class='col s12 genDiv'>

          <% include ../partials/registrationForm %>



        </div>

      </div>
    </div>
  </div>



  <% include ../partials/footer %>
